/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
	font-family: "STARWARS";
	src: url("STARWARS.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.app {
	width: 100%;
	height: auto;
  margin: 0;
  padding: 0;
}

.app-name {
	margin: 1em 0;
	font-family: 'STARWARS';
	font-size: 3em;
	letter-spacing: 0.06em;
}

.app-buttons {
	display: grid;
	grid-template-columns: repeat(6, 6em);
	grid-template-rows: repeat(1, auto);
	justify-content: center;
	justify-items: center;
	grid-row-gap: 1em;
	grid-column-gap: 0.7em;
}

button {
	width: 5.7em;
	height: 2.7em;
	font-size: 1em;
	color: white;
	background-color: black;
	border: 2px solid yellow;
	box-shadow: 2px 2px yellow;
	outline: none;
}

@media screen and (max-width: 800px) {
	.app-name {
		margin-bottom: 0.7em;
		font-size: 2.5em;
	}

	.app-buttons {
		grid-template-columns: repeat(3, 6em);
		grid-template-rows: repeat(2, auto);
	}
}

@media screen and (max-width: 640px) {
	.app-name {
		font-size: 2.2em;
	}
}

@media screen and (max-width: 480px) {
	.app-name {
		margin-bottom: 0.8em;
		font-size: 1.5em;
	}

	.app-buttons {
		grid-column-gap: 0.3em;
	}

	button {
		width: 5.2em;
		height: 2.3em;
		font-size: 0.95em;
	}
}
